/*** STYLES CSS  ***/
@font-face { font-family: myFirstFont; src: url("./img/SHPinscher-Regular.otf"); }

:root {
    --light-background: #f2f2f2;
    --light-color: #0013a5;
    --light-menu-background: #f4ed8b;
    --light-footer-background: #c8c9c8;

    --dark-background: #1f1f1f;
    --dark-color: #f4ed8b;
    --dark-menu-background: #000b5c;
    --dark-footer-background: #000b5c;
}

/* General */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: myFirstFont;
}

/*
html, body {
    height: 100%;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

/* -- Light Body --  */
body.light {
    background: url(/assets/css/img/background\ prueba\ 4.jpg);
    background-attachment: fixed;

}
/* -- Dark Body --  */
body.dark {
    background: url(/assets/css/img/background\ prueba\ 2.png);
    background-attachment: fixed;
}

.container {    
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

img {
    max-width: 100%;
    display: block;
}

.d-flex { display: flex; }
.pointer { cursor: pointer; }
.text-center { text-align: center; }
.align-self-center { align-self: center; }
.justify-content-center { justify-content: center; }

/* Margin bottom */
.mb0 { margin-bottom: 0px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb55 { margin-bottom: 55px; }
.mb60 { margin-bottom: 60px; }
.mb65 { margin-bottom: 65px; }
.mb70 { margin-bottom: 70px; }
.mb75 { margin-bottom: 75px; }
.mb80 { margin-bottom: 80px; }
.mb85 { margin-bottom: 85px; }
.mb90 { margin-bottom: 90px; }
.mb95 { margin-bottom: 95px; }


/* Margin top */
.mt0 { margin-top: 0px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt55 { margin-top: 55px; }
.mt60 { margin-top: 60px; }
.mt65 { margin-top: 65px; }
.mt70 { margin-top: 70px; }
.mt75 { margin-top: 75px; }
.mt80 { margin-top: 80px; }
.mt85 { margin-top: 85px; }
.mt90 { margin-top: 90px; }
.mt95 { margin-top: 95px; }


/* Padding bottom */
.pb0 { padding-bottom: 0px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.pb55 { padding-bottom: 55px; }
.pb60 { padding-bottom: 60px; }
.pb65 { padding-bottom: 65px; }
.pb70 { padding-bottom: 70px; }
.pb75 { padding-bottom: 75px; }
.pb80 { padding-bottom: 80px; }
.pb85 { padding-bottom: 85px; }
.pb90 { padding-bottom: 90px; }
.pb95 { padding-bottom: 95px; }
.pb100 { padding-bottom: 100px }


/* Padding top */
.pt0 { padding-top: 0px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pt55 { padding-top: 55px; }
.pt60 { padding-top: 60px; }
.pt65 { padding-top: 65px; }
.pt70 { padding-top: 70px; }
.pt75 { padding-top: 75px; }
.pt80 { padding-top: 80px; }
.pt85 { padding-top: 85px; }
.pt90 { padding-top: 90px; }
.pt95 { padding-top: 95px; }
.pt100 { padding-top: 100px; }

/* - Button - */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Main Title */
.main-title {
    text-align: center;
    font-size: 4em;
}

.light .main-title {
    color: var(--light-background);
    text-shadow: 2px 2px 2px var(--light-color);
}

.dark .main-title {
    color: var(--light);
    text-shadow: 2px 2px 2px #f3f3f3;
}

/* Heade & Main Menu */
header {
    background-image: url(img/arboles.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    padding-right: 0 !important;
}

.header-content {
    width: 100%;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
.content-header {
    display: flex;
    align-self: center;
    justify-content: center;
}
*/

.main-menu {
    background: #fff5ac; /* #fff5ac */
}

.navbar-menu {
    display: flex;
    justify-content: center;
}

.navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu ul li {
    display: inline-block;
    margin: 0rem 1rem;
    padding: 0; /* 1rem */
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-menu ul li.active {
    background: #f3f3f3;
}

.navbar-menu ul li .btn {
    padding: 1.5rem;
}

/* -- Light -- */
.light .main-menu {
    background: var(--light-menu-background);
    
}

.light .navbar-menu ul li:hover {
    background: #fff;
}

.light .navbar-menu ul li:hover > .btn {
    color: #000;
}

.light .navbar-menu ul li.active { 
    background: #f3f3f3;
}

.light .navbar-menu ul li.active:hover {
    background-color: #fff;
}

.light .navbar-menu ul li.active:hover > .btn {
    color: #000;
}

.light .navbar-menu .btn {
    color: var(--light-color);
}

.light .navbar-menu .btn.active {
    color: #1f1f1f;
}

/* -- Dark -- */
.dark .main-menu {
    background: var(--dark-menu-background);
}

.dark .navbar-menu ul li:hover {
    background: #000;
}

.dark .navbar-menu ul li:hover > .btn {
    color: #fff;
}

.dark .navbar-menu ul li.active { 
    background: #1f1f1f;
}

.dark .navbar-menu ul li.active:hover {
    background: #000;
}

.dark .navbar-menu ul li.active:hover > .btn {
    color: #fff;
}

.dark .navbar-menu .btn {
    color: var(--dark-color);
}

.dark .navbar-menu .btn.active {
    color: #f3f3f3;
}

@media (max-width: 576px) {
    .content-header {
        flex-direction: column;
    }
}

/* - Main Footer - */
.main-footer {
    width: 100%;
    background: var(--light-menu-background);
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.rem;
}

.main-footer.bottom-position {
    position: absolute;
    bottom: 0;
}

/* -- Light  -- */
.light .main-footer {
    background: var(--light-menu-background);
    color: var(--light-color);
}

/* -- Dark  -- */
.dark .main-footer {
    background: var(--dark-footer-background);
    color: var(--dark-color);
}

.main-footer .copyright {
    font-size: 18px;
}


/* - Spinner - */
.content-spinner {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/* Home - Pokémon */
.list-card-pokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list-card-pokemon.error-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    font-size: 1.8rem;
    font-weight: bold;
}

@media (max-width: 992px) {
    .list-card-pokemon {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .list-card-pokemon {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 470px) {
    .list-card-pokemon {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Battle - Cards list */
.list-card-pokemon.selected-cards .ocult-card {
    cursor: pointer;
} 

/* - Theme - */
.controls {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 30px;
    font-size: 1.4rem;
}

.controls .content-control {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.controls .content-control input[type="radio"] {
    margin-top: 0px;
}

.light .controls .content-control {
    background: rgb(255 255 255 / 50%);
}

.light .controls label {
    color: var(--dark-background);
    text-shadow: 2px 2px 2px var(--dark-color);
}

.dark .controls .content-control {
    background: rgb(0 0 0 / 50%);
}

.dark .controls label {
    color: var(--light-background);
    text-shadow: 2px 2px 2px var(--light-color);
}

@media (max-width: 576px) {
    .controls {
        position: relative;
        display: flex;
        right: 0;
        gap: 15px;
    }
}

/* - Home - Buscador - */
.content-searcher {
    display: flex;
    justify-content: space-between; /* end */
}

/* - Home - Restart - */
.restart-starters {
    margin: 1.8rem;
}

.searcher {
    display: flex;
    gap: 10px;
    margin: 1.8rem;
}

.input_search {
    padding: 0.375rem 0.75rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media(max-width: 768px) {
    .content-searcher {
        display: block;
    }

    .restart-starters {
        justify-content: center;
    }

    .searcher {
        flex-direction: column;
    }
}

/* - Buttons  - */
/* -- Home -- */
.btn-retrostyle {
    background: rgb(255, 255, 255);
    border-color: rgb(112, 170, 214);
    border-width: 10%;
    box-shadow: inset 0 0 0 1px rgb(65, 104, 196) ;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(4, 4, 175);
    gap: 5px
}

.iconbtn {
    width: 1rem;
}

/*  .button_search {
    background: #ced4da  ;
}  */



/*.btn-back-list {
    background: #ced4da;
}*/

/*.button_search:hover,
.btn-more-info:hover,
.btn-back-list:hover {
    background: #000;
    color: #fff;
}
*/
/* ------- Battle ------ */
/*
.btn-repeat-battle {
    background: #ced4da;
    /* margin-top: 1rem; */
    /* margin-bottom: 0.5rem; 
    border: 1px solid #000;
}
*/
/*
.btn-repeat-battle:hover {
    background: #000;
    color: #fff;
} */

.iconbtn{
    width: 1rem;
}

/* - Carta - */
.card {
    display: flex;
    flex-direction: column;
    /* width: clamp(20rem, calc(20rem + 2vw), 22rem); */
    overflow: hidden;
    padding: 1em;
    margin: 1em;
    border: 4px solid rgb(7, 114, 1 / 90%);
    border-radius: 0.75rem;
}
.light .card{
    background: linear-gradient(0deg, rgb(86, 157, 82), rgba(138, 235, 78, 90%), rgb(86, 157, 82));
    
}
.dark .card{
    background: linear-gradient(0deg, rgb(35, 35, 35), rgba(90, 90, 90, 50), rgb(35, 35, 35));
    
}

.card .title {
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 0; /* 0.5em */
    margin-bottom: 0.2em; /* 0.5em */
    text-transform: capitalize;
}

.dark .card .title{
    color: #ced4da;
    text-decoration: underline;
}

.card ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0px;
    padding-left: 0.75em;
    padding-right: 0.75em;
    
}

.card ul li { 
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 5px;
    
}

.card .content-text-card ul {
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    background: rgb(255 255 255 / 90%);
}

.card .content-types-pokemon {
    display: flex;
    gap: 5px;
}

.card .content-more-info {
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    
}

/* -- Individual card -- */
/*
.card .imgs-pokemon {
    display: inline-flex;
    justify-content: space-around;
}
*/

.card .default-pokemon,
.card .shiny-pokemon {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.card .description-pokemon {
    margin-bottom: 1.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 1.4rem;
    color: #c8c9c8;
}

.card .types-pokemon {
    margin-bottom: 2em;
}

.card .types-pokemon li {
    justify-content: center;
}

.card .stats-pokemon {
    justify-content: flex-start;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    gap: 5px;
}

.card .stats-pokemon ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.3%;
    padding: 0;
}

.card .stats-pokemon ul li {
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .detail-card-pokemon .card .default-pokemon, .detail-card-pokemon .card .shiny-pokemon {
        flex-direction: column;
    }

    .card .stats-pokemon {
        flex-wrap: wrap;
    }

    .card .stats-pokemon ul {
        width: 100%;
    }
}

/* -- Ocult card -- */
.card.ocult-card {
    background-color: var(--light-color);
}

.card.ocult-card .content-card {
    visibility: hidden;
   
}

/* - Imatges - */
.content-img-card {
    align-self: center;
    padding: 1.5em;
    background: rgb(255 255 255 / 90%);
    border: 2px solid #000;
    border-radius: 50%;
}

.img-card-pokemon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.img-type-pokemon {
    width: 28px;
    height: 28px;
}

@media (min-width: 1200px) {
    .content-card .content-img-card {
        display: flex;
        justify-content: center;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

@media (max-width: 470px) {
    .content-card .content-img-card {
        display: flex;
        justify-content: center;
        width: 50vw;
        align-items: center;
        margin: 0 auto;
    }
}

/* Details Battle */
.detail-battle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
    border-radius: 1em;
    padding: 3em;
    margin-top: 4em;
    text-align: center;
    background: #f3f3f3;
}

.detail-battle h1 {
    font-size: 2.5em;
}

.detail-card-pokemon .imgs-pokemon {
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

/* Error list */
.error-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.error-list .error-message {
    font-size: 2.3rem;
}

/* Error detail */
.error-detail + .main-footer {
    position: absolute;
    bottom: 0;
}

/* main:has(.error-list .error-message) + footer {
    position: absolute;
    bottom: 0;
} */
